name: Deploy plugin

on:
  release:
    types: [published]

jobs:
  deploy:
    name: Deploy to WordPress.org
    runs-on: ubuntu-latest
    if: github.repository_owner == 'govigilant'
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer
          coverage: none

      - name: Install production dependencies
        run: composer install --no-dev --no-progress --no-interaction --prefer-dist --optimize-autoloader

      - name: Deploy to WordPress.org
        uses: 10up/action-wordpress-plugin-deploy@stable
        with:
          slug: vigilant-healthchecks
          build_dir: .
        env:
          SVN_USERNAME: ${{ secrets.WORDPRESS_SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.WORDPRESS_SVN_PASSWORD }}
